html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.loading_progress/*.loading_progress_left, .loading_progress_ratate*/{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 1000;
	  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	

}
.progress-percentage{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 1000;
	font-weight: bold;
	color: #333;
}



body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*########################block left 60% width######################*/


.wi60 .block_grid1, .block_grid2, .block_grid3, .block_grid4, .block_grid5{
	background: #d7e0ef;
	padding: 20px 20px;
	margin-top: 24px;
	border-radius: 	4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.4) inset;
}


/*######################## </block left 60% width######################*/

@mixin flex{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
} /*@include flex */

@mixin social_icon{
width: 40px;
height: 40px;		
} /*@include social_icon*/


@mixin clearfix {
  content: "";
  display: table;
  clear: both;
} /*@include clearfix*/


/*########################block rigth 40% width######################*/

.wi40 .block_ri1,.block_ri2,.block_ri3,.block_ri4,.block_ri5,.block_ri6,.block_ri7{
	background: #d7e0ef;
	padding: 20px 20px;
	margin-top: 24px;
	border-radius: 	4px;
	 box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.4) inset;
}


.wi40 .block_ri1,.block_ri2,.block_ri3,.block_ri4,.block_ri5,.block_ri6,.block_ri7:after {
 /*   z-index: -1;*/
    -webkit-transform: rotate(3deg) skew(0deg);
     -moz-transform: rotate(3deg) skew(0deg);
     -ms-transform: rotate(3deg) skew(0deg);
     -o-transform: rotate(3deg) skew(0deg);
     transform: rotate(3deg) skew(0deg);
}

/*######################## </block rigth 40%  width######################*/

/*#################cosmos bg####################*/
.background {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: #111;
z-index: -1;
}
 
.canvas {
position: absolute;
z-index: -1;
}
 
.back {
top: -100px;
left: -100px;
}
 
.mid {
top: -200px;
left: -200px;
}
 
.front {
top: -400px;
left: -400px;
}
/*################# </cosmos bg####################*/


.progress-percentage{
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	color: #013a9e;
}
@mixin p_skill{
	text-transform: uppercase;
	text-align: center;
	padding: 10px 8px;
}
 /*@include p_skill*/


/*@mixin {


}
 @include*/