@import "_sittings.scss";
@import "_fonts.scss";



body{
	margin: 0 auto;
	padding: 0 auto;
	width: 1200px;
	/*background: #3d4a5a5c;*/
}

header{
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background:linear-gradient(90deg, rgb(66,89,244), rgb(224,20,224), rgb(255,242,0));
	mix-blend-mode: exclusion;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.4) inset;
	.header_img_inform{
		display: grid;
		grid-template-columns: 300px 1fr 50%;
		grid-template-rows:240px ;
		width: 100%;
		.img{
			grid-column: 1;
			padding-top: 20px;
			padding-left: 20px;
			img{	
				width:220px;
				height: 200px;
				border-radius: 100px;
				box-shadow: 0 0 20px rgba(0,0,0,.8);
				}
		}
		.social{
			grid-column: 2;
			@inclide flex;
			-ms-align-items: center;
			align-items: center;
			text-align: center;

			h1{
				padding-top: 40px;
				font-size: 42px;
			}
			h2{
				font-size: 28px;
				color: #c7d2e2;
			}
				.social_header{
					margin-top: 20px;
					display: flex;
					justify-content: space-between;
					.social_email{
						@include social_icon;
						a{}
					}
					.social_inst{
						@include social_icon;
						a{}
					}
					.social_tellegram{
						@include social_icon;
						a{}
					}
				}
		}
		.header_button{
			grid-column: 3;
			padding-left: 300px;
			padding-top: 80px;
			button{
				margin: 0;
				padding: 0;
				position: absolute;
			    background-image: -webkit-linear-gradient(left, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
				background-image: -o-linear-gradient(left, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
				background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
			    background-size: 200% auto;
			    border-radius: 10px;
				    
			
				a{
					margin: 0;
			    	padding: 4px 12px;
					text-decoration: none;
				  	outline: none;
					display: inline-block;
					color: white ;
				  	font-family: 'Montserrat', sans-serif;
					text-transform: uppercase;			  					
					letter-spacing: 2px;
				    box-shadow: 0 0 20px rgba(0,0,0,.1);
				    transition: .6s;
				    
				}
			}
		}
	}
}
main{
	height: auto;
	padding: 30px;
	background: #aec4e8;
	@include clearfix;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.4) inset;
.wi60{
	float: left;
	width: 60%;
	.content_li{
		.block_grid1{
			h1{
				width: auto;
				
			}
			p{
				margin: 0 auto;
				width: auto;
				
			}

		}
		.block_grid2{
			.started{
				h1{
					text-align: center;
				}
				p{
					text-align: center;
				}
				.img_text_but{
					margin-top: 20px;
					margin-bottom: 20px;
					img{
						height: auto;
						width: 100%;
					}
					p{}
					button{
					mix-blend-mode: luminosity;
					width: 250px;
					height: 84px;
    				transform: translate(190px,50%);
   					border-radius: 60% 40%;
    				box-shadow:  -5px -9px 0 9px crimson,
            				     2px -10px 0 crimson inset;
            		background: linear-gradient(48deg,rgb(185, 157, 232),
            			                       rgb(96, 62, 153),rgb(104, 41, 124),
            			                       rgb(124, 40, 100),rgb(124, 40, 40));
  					 animation: move_shadow 2s infinite;
  					  
 						 @keyframes move_shadow {
    						25%{
    						  				border-radius: 50% 60%;
    						  box-shadow:  3px 2px 0 5px crimson,
    						               3px -2px 0 5px crimson inset;
    						  }
   						 	50%{
    						  border-radius: 70% 60%;
    						  box-shadow:  8px 3px 0 0px crimson,
    						               -2px 3px 0 10px crimson inset;
     							}
						    75%{
						      border-radius: 45% 60%;
						      box-shadow:  -1px -6px 0 0px crimson,
						                   -3px -5px 0 10px crimson inset;
						      }
						    }
						    a{
						    	color: #fff;
						    	text-decoration: none;
						    	@include h2_fonts;
						    }
					}
				}
			}
			.working_block{
				article{
					img{}
					h3{}
					p{}
				}
			}
		}
		.block_grid3{
			.main_project{
				.project1{
					h3{}
					p{
						a{}
					}
				}
				.project2{
					h3{
						span{}
					}
					p{
						a{}
					}
				}
				.project3{
					h3{
						span{}
					}
					p{
						a{}
					}
				}
			}
		}
		.block_grid4{}
		.block_grid5{}
	}
}


.wi40{
	float: left;
	width: 40%;
	overflow-y: fixed;
	height: 100vh;
	.content_ri{
		padding-left: 30px;
		.block_ri1{}
		.block_ri2{}
		.block_ri3{}
		.block_ri4{}
		.block_ri5{}
		.block_ri6{}
		.block_ri7{}
	}
}
}