html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wi60 .block_grid1, .block_grid2, .block_grid3, .block_grid4, .block_grid5 {
  background: #d7e0ef;
  padding: 20px 20px;
  margin-top: 24px;
  border-radius: 4px; }

/*@include flex */
/*@include social_icon*/
/*@include clearfix*/
.wi40 .block_ri1, .block_ri2, .block_ri3, .block_ri4, .block_ri5, .block_ri6, .block_ri7 {
  background: #d7e0ef;
  padding: 20px 20px;
  margin-top: 24px;
  border-radius: 4px; }

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #111;
  z-index: -1; }

.canvas {
  position: absolute;
  z-index: -1; }

.back {
  top: -100px;
  left: -100px; }

.mid {
  top: -200px;
  left: -200px; }

.front {
  top: -400px;
  left: -400px; }

p {
  font-family: 'Charmonman', cursive; }

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 28px; }

h2 {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  font-size: 24px; }

/*@include h2_fonts*/
h3 {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  font-size: 18px; }

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #111;
  z-index: -1; }

.canvas {
  position: absolute;
  z-index: -1; }

.back {
  top: -100px;
  left: -100px; }

.mid {
  top: -200px;
  left: -200px; }

.front {
  top: -400px;
  left: -400px; }

body {
  margin: 0 auto;
  padding: 0 auto;
  width: 1200px;
  /*background: #3d4a5a5c;*/ }

header {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: linear-gradient(90deg, #4259f4, #e014e0, #fff200);
  mix-blend-mode: exclusion; }
  header .header_img_inform {
    display: grid;
    grid-template-columns: 300px 1fr 50%;
    grid-template-rows: 240px;
    width: 100%; }
    header .header_img_inform .img {
      grid-column: 1;
      padding-top: 20px;
      padding-left: 20px; }
      header .header_img_inform .img img {
        width: 220px;
        height: 200px;
        border-radius: 100px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }
    header .header_img_inform .social {
      grid-column: 2;
      @inclide flex;
      -ms-align-items: center;
      align-items: center;
      text-align: center; }
      header .header_img_inform .social h1 {
        padding-top: 40px;
        font-size: 42px; }
      header .header_img_inform .social h2 {
        font-size: 28px;
        color: #c7d2e2; }
      header .header_img_inform .social .social_header {
        margin-top: 20px;
        display: flex;
        justify-content: space-between; }
        header .header_img_inform .social .social_header .social_email {
          width: 40px;
          height: 40px; }
        header .header_img_inform .social .social_header .social_inst {
          width: 40px;
          height: 40px; }
        header .header_img_inform .social .social_header .social_tellegram {
          width: 40px;
          height: 40px; }
    header .header_img_inform .header_button {
      grid-column: 3;
      padding-left: 300px;
      padding-top: 80px; }
      header .header_img_inform .header_button button {
        margin: 0;
        padding: 0;
        position: absolute;
        background-image: -webkit-linear-gradient(left, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
        background-image: -o-linear-gradient(left, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
        background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
        background-size: 200% auto;
        border-radius: 10px; }
        header .header_img_inform .header_button button a {
          margin: 0;
          padding: 4px 12px;
          text-decoration: none;
          outline: none;
          display: inline-block;
          color: white;
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          transition: .6s; }

main {
  height: auto;
  padding: 30px;
  background: #aec4e8;
  content: "";
  display: table;
  clear: both; }
  main .wi60 {
    float: left;
    width: 60%; }
    main .wi60 .content_li .block_grid1 h1 {
      width: auto; }
    main .wi60 .content_li .block_grid1 p {
      margin: 0 auto;
      width: auto; }
    main .wi60 .content_li .block_grid2 .started h1 {
      text-align: center; }
    main .wi60 .content_li .block_grid2 .started p {
      text-align: center; }
    main .wi60 .content_li .block_grid2 .started .img_text_but {
      margin-top: 20px;
      margin-bottom: 20px; }
      main .wi60 .content_li .block_grid2 .started .img_text_but img {
        height: auto;
        width: 100%; }
      main .wi60 .content_li .block_grid2 .started .img_text_but button {
        width: 250px;
        height: 84px;
        transform: translate(190px, 50%);
        border-radius: 60% 40%;
        box-shadow: -5px -9px 0 9px crimson, 2px -10px 0 crimson inset;
        background: linear-gradient(48deg, #b99de8, #603e99, #68297c, #7c2864, #7c2828);
        animation: move_shadow 2s infinite; }

@keyframes move_shadow {
  25% {
    border-radius: 50% 60%;
    box-shadow: 3px 2px 0 5px crimson, 3px -2px 0 5px crimson inset; }
  50% {
    border-radius: 70% 60%;
    box-shadow: 8px 3px 0 0px crimson, -2px 3px 0 10px crimson inset; }
  75% {
    border-radius: 45% 60%;
    box-shadow: -1px -6px 0 0px crimson, -3px -5px 0 10px crimson inset; } }
        main .wi60 .content_li .block_grid2 .started .img_text_but button a {
          color: #fff;
          text-decoration: none;
          padding-top: 8px;
          padding-bottom: 8px;
          font-family: 'Anton', sans-serif;
          font-family: 'Lobster', cursive;
          font-size: 24px; }
  main .wi40 {
    float: left;
    width: 40%;
    overflow-y: fixed;
    height: 100vh; }
    main .wi40 .content_ri {
      padding-left: 30px; }
